<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Untitled</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="/apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->

    </head>
    <body>

        果物登録<br><br>
        <!---- <form>
             名称
             <input type="text" name="name"><br><br>
             単価
             <input type="text" name="number">
             <br><br>
              <input type="submit" value="登録">
         </form> --->

        <form method="post">

            {% csrf_token %}
            {{ form }}
            <button type="submit">Submit</button>
        </form>

    </body>
</html>
